*{
  font-family: poppins;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar{
  display: flex;
  justify-content: space-evenly;
  padding: 20px 20px;
  align-items: center;
}
.nav-start{
  font-size: 22px;
}
.nav-middle{
  display: flex;
  gap: 20px;
  position: relative;
  right: 70px;
}

.nav-middle span{
  color: #170426;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
}

.sign-in{ 
  width: 80px;
  height: 30px;
  background-color: #fff;
  border-radius: 5px;
  border: 1.5px solid #170426;
  font-size: 12px;
  font-weight: 600;
  color: #170426;
  bottom: 0px;
  
}


.get-start{
  height: 30px;
  width: 180px;
  background-color: #170426;
  border-radius: 6px;
  border: 1px solid;
  font-size: 12px;
  font-weight: 600; 
  color: #fff;
}

/*---banner---*/

.banner{

  background-color:  #FFC2C8;
  margin: 0 20px;
  padding: 50px 0 30px 0;
  border-radius: 15px;
  text-align: center;
 
}

.refer{
  color: #FF0055; 
  font-size: 16px;
  line-height: 24px;
}

.next{
  font-size: 40px;
  font-weight: 800; 
  padding: 15px 0;
  width: 480px; 
  margin: 20px auto;
  color: #170426;
  font-family: Inter;
  line-height: 50px;
}

.banner-1{
  background-color: #fff;
  width: 370px;
  height: 200px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0px 16px 24px -5px rgba(0, 0, 0, 0.15);
  padding: 20px ;
  text-align: center;
}

.line1{
  font-size: 18px; 
  font-weight: 500;
  line-height: 30px;
}

.line2{
  color: #FF0055;
  font-size: 35px;
  font-weight: 600;
}

.line2 span{
  color: #FF0055; 
  font-size: 70px;
  font-weight: 600;
  font-family: Inter;
}

.line3{
  font-size: 14px;
  font-weight: 500; 
  line-height: 40px;
}

.voucher{
  font-size: 18px; 
  color:#4D4D4D; 
  padding: 20px 0; 
  width: 370px;
  margin: 10px auto;
}

.friend{
  background-color: #170426;
  border-radius: 5px;
  border: 1px solid #170426;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  width: 200px;
  height: 40px;
  padding: 5px 0;
  margin-bottom: 70px;
}

.how-work{
  margin-top: 30px;
  margin-left: 50px; 
  color: #170426;
  font-size: 25px;
  font-weight: 700;
  width: 130px;
  text-align: start;
}

/*---cards---*/

.cards{
  display: flex;
  gap: 30px;
  padding-right: 60px;
  position: absolute;
  top: 760px;
  right: 30px;
}

.card{
  width: 250px;
  height: 300px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 10px 20px 0px rgba(36, 50, 66, 0.1);
  
}

.card-box{
  width: 25px;
  height: 25px;
  border-radius: 5px;
}

.card-no{
  font-size: 25px; 
  font-weight: 800;
  font-family: Inter;
  position: relative;top: -23px;left:2px;
}

.card-text1{
  color: #170426;
  font-size: 12px;
  font-weight: 600; 
  padding: 10px 0 20px 0;
  
}

.card-text2{
  color: #4D4D4D; 
  font-size: 12px;
  width: 165px;
  line-height: 25px;
}
/*question*/

.question{
  display: flex;
  justify-content: space-evenly;
}

.part1{
  width: 300px;

}

.ques1{
  font-size: 30px;
  font-weight: 700; 
  width: 180px;

}

.ques2{
  color: #4D4D4D;
  font-size: 16px;
  margin-top: 25px;
}

.part2{
  width: 700px;
}

.all-questions{
  border: 1px solid #fff;
  padding: 20px;
  margin: 10px 0;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 15px 30px rgba(45, 17, 17, 0.1);
}

.all1{
  color: #170426;
  font-size: 18px; 
  font-weight: 600;
  padding: 10px 0;
  width: 650px;
}

.all2{
  color: #4D4D4D;
  font-size: 14px;
  width: 580px;
}

.all3{
  font-size: 14px; 
  color: #4D4D4D; 
  padding: 20px;
  line-height: 30px;
}

li::marker{
  color: #FF0055;
}

.questions{
  color: #170426;
  font-size: 16px; 
  font-weight: 600; 
  border: 1px solid #170426;
  padding: 20px;
  margin: 10px 0;
  border-radius: 5px;
  position: relative;
}
.all-questions span,.questions span{
  vertical-align: middle;
  position: absolute;
  right: 30px;
}
